.container {
  width: 500px;
}
  section {
  border: 1px solid rgba(0,218,236,1);
}

section h2 {
  color: white;
  margin: 10px;
  padding: 25px;
  background-color: rgba(0,218,236,1)
}

section p{
  padding: 0 25px;
  height: 150px;
  margin: 0;
  overflow: auto;
  transition: height 1s ease;
}

.hidden{
  height: 0;
}
